body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f0f4f8;
  color: #333;
}

header {
  background-color: #006d77;
  padding: 10px 20px;
  color: white;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px); /* Header height subtracted */
}

.info {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

#payment, #register-email {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
  margin-top: 20px;
}

input[type=email] {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box; /* Include padding in width */
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #006d77;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005b69;
}


